<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        <add key="storeType" value="Myriad.Store.MySqlStore, Myriad.Store, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add key="port" value="7888"/>
        <add key="prefix" value="/api/1/myriad/"/>
    </appSettings>

    <connectionStrings>
        <add name="mysql" connectionString="Server=localhost;Database=configuration;port=3306;User=configuration_service;Password=cfg;Pooling=True;"/>
    </connectionStrings>

    <system.diagnostics>
        <sources>
            <source name="Myriad.Core" switchValue="Information">
                <listeners>
                    <add name="nlog" />
                </listeners>
            </source>
            <source name="Myriad.Store" switchValue="All">
                <listeners>
                    <add name="nlog" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="nlog" type="NLog.NLogTraceListener, NLog" />
        </sharedListeners>
    </system.diagnostics>
</configuration>